@page "/showdata"
@inject NavigationManager nm
<h3>List of student</h3>
<div class="content">
    <table class="table">
        @foreach (var item in listStudents)
        {
            <tr>
                <td>@item.StudentId</td>
                <td>@item.StudentName</td>
                <td>@item.UniversityName</td>

            </tr>
        }
    </table>
</div>

@code {
    List<ModelStudent> listStudents { get; set; } = new List<ModelStudent>();

    protected override void OnInitialized()
    {
        listStudents = DalStudent.GetStudentInformation();
        base.OnInitialized();
    }



    private void LoadData()
    {
        listStudents = DalStudent.GetStudentInformation();
    }

 
}
